

.App {
  text-align: center;

}

.App-header{
  padding: 10px;
  background-image: url('./img/WhatsApp Image 2022-04-16 at 8.15.03 PM.jpeg');
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.div{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.div-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: 2 span/ 1;
}

.card{
  background-color: lightgray;
  border-radius: 10px;
  grid-area: 2 span /2;
}

.number{
  font-size: calc(80px);
  margin: 0%;
}

.button{
  background-color: lightgray;
  border: transparent;
  border-radius: 8px;
  height: 50px;
}